<nav class="menu-container">
    <div class="menu-toggle" id="menu-toggle" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <a href="#" class="menu-logo">
        <span>Eduardo</span>
    </a>

    <div class="menu">
        <ul>
            <li><a href="#about-me">Sobre mim</a></li>
            <li><a href="#experience">Experiência</a></li>
            <li><a href="#education">Educação</a></li>
            <li><a href="#" (click)="downloadResume()">Currículo</a></li>
            <li><a [href]="'https://wa.me/' + mobileNumber + message" target="_blank">Contato</a></li>
        </ul>
    </div>
</nav>