body {
    margin: 0;
    padding: 0;
}

.menu-container {
    background-color: rgba(57,62,70,.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.menu-logo {
    padding: 0 2em;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.menu-logo span {
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 0.25mm;
}

.menu-logo span:hover {
    color: #00C6A7;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li:first-child::before{
    content: "01:";
    color: #00C6A7;
    margin-right: 0.3rem;
}

.menu li:nth-child(2)::before{
    content: "02:";
    color: #00C6A7;
    margin-right: 0.3rem;
}

.menu li:nth-child(3)::before{
    content: "03:";
    color: #00C6A7;
    margin-right: 0.3rem;
}

.menu li:nth-child(4)::before{
    content: "04:";
    color: #00C6A7;
    margin-right: 0.3rem;
}

.menu li:nth-child(5)::before{
    content: "05:";
    color: #00C6A7;
    margin-right: 0.3rem;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #00C6A7;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 767px) {
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: rgba(57,62,70,.8);
        position: absolute;
        top: 58px;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.55s ease-in-out;
    }

    .menu.active ul {
        max-height: 500px;
        overflow: hidden;
    }

    .menu li {
        margin: 10px 0;
        transition: margin 0.3s ease-in-out;
    }

    .menu-toggle {
        display: flex;
        z-index: 2;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(1px, 11.5px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -11.5px);
    }
}