<div id="intro" class="intro-container row g-0">
    <div class="d-flex align-items-center justify-content-center">
        <div class="intro-text col-md-12 d-flex flex-column align-items-center g-0 p-0">
            <div>
                <span class="introduction-greeting">
                    Olá, sou o
                </span>
                <h1>Eduardo Caversan<span style="color: white;">,</span></h1>
                <h2>
                    Full-Stack
                    <span class="job-title">Web</span>
                    Developer
                </h2>
                <p class="mt-3">Sou um desenvolvedor que atua em todas as camadas do desenvolvimento web! No momento me
                    localizo em
                    Santa
                    Mariana - PR (Brasil) e atuo como desenvolvedor na <a href="https://www.eventodaigreja.com.br"
                        target="_blank" rel="noreferrer">Adven.Tech</a>. Caso queira conversar sobre qualquer assunto,
                    ou de repente marcar uma game-night, é
                    só
                    clicar em "Contato"!</p>
            </div>
        </div>
    </div>
</div>
<section class="about-wrapper d-flex align-items-center justify-content-center">
    <div id="about-me" class="row g-0">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="about-me-text d-flex flex-column align-items-center g-0 p-0">
                <div>
                    <div class="about-me-photo m-auto mb-3">
                        <img src="../assets/img/main-image.jpg">
                    </div>
                    <div class="text-container">
                        <h2 class="section-title"><span>01:</span>Sobre mim</h2>
                        <p class="mt-3">Olá, meu nome é Eduardo! Sou apaixonado por desenvolvimento e conhecimento, e nos
                            últimos anos
                            venho procurando aprimorar meus conhecimentos em programação e desenvolvimento web!</p>
                        <p class="job-text mt-3">Atuo no desenvolvimento Full-stack, desde o banco de dados e das API's,
                            até o front-end! Apesar de não ter muitos projetos públicos no meu GitHub por falta de
                            tempo, estou investindo mais nesse aspecto recentemente...</p>
                        <p class="mt-3">Além da paixão pela programação, amo ir à academia, jogar videogames, ouvir
                            música e me auto desenvolver, procurando sempre uma melhor versão de mim!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="experience-wrapper">
    <div id="experience">
        <h2 class="section-title">
            <span>02:</span> Experiências
        </h2>
        <div class="content">
            <div class="tabs">
                <div *ngFor="let item of experiences; let i = index" class="tab" [class.active]="i === experienceIndex"
                    (click)="setActiveExperience(i)">
                    {{ item.company }}
                </div>
            </div>
            <div class="experience-text-container">
                <h3>{{ experiences[experienceIndex].role }}</h3>
                <div class="period">{{ experiences[experienceIndex].dateRange }}</div>
                <div *ngFor="let paragraph of experiences[experienceIndex].paragraphs">
                    <p>{{ paragraph }}</p>
                </div>
            </div>
        </div>
    </div>
</section>