<div id="intro" class="intro-container row g-0">
    <div class="intro-text mt-5 col-md-12 d-flex flex-column g-0">
        <div>
            <span class="introduction-greeting">
                Olá, sou o
            </span>
            <h1>Eduardo Caversan<span style="color: white;">,</span></h1>
            <h2>
                <span class="job-title">Web</span>
                Developer
            </h2>
            <p class="mt-3">Sou um desenvolvedor que atua em todas as camadas do desenvolvimento web. Moro atualmente em
                Santa
                Mariana - PR. Estou trabalhando atualmente na <a href="https://www.eventodaigreja.com.br"
                    target="_blank" rel="noreferrer">Adven.Tech</a>. Caso queira conversar sobre qualquer assunto, é só
                clicar em "Contato"!</p>
        </div>
    </div>
</div>