@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
